<div class="max-w-3xl mx-auto", id="comment_form">
<%= form_with model: [article, comment], url: article_comments_path(article), local: false do |f| %>
  <%= f.text_area :body, rows:'2', placeholder: "コメントをここに", class: "w-80  border rounded focus:outline-none bg-white" %>
  <%= f.submit t('button.post'),class: "py-1.5 px-4 transition-colors bg-gray-50 border active:bg-gray-200 font-medium border-gray-200 text-gray-900 rounded-lg hover:bg-gray-100 disabled:opacity-50" %>
<% end %>
</div>
