<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @articles.present? %>
        <h2 class="text-2xl font-bold text-gray-800 ">みんなの推し活コーデ</h2>
        <%= render @articles %> 
      <% else %>
        <p><%= t('articles.index.no_articles') %></p>
      <% end %>
    </div>
  </div>
</div>