<div class="bg-pink-200">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <header class="flex items-center justify-between py-4 md:py-7">
      <div class="text-white text-4xl flex items-center">
      <%= link_to t('title') , root_path %>
      </div>
      <div class="flex items-right gap-4">
        <div class="text-white">
         <%= link_to t('header.login'), login_path %>
        </div>
        <div class="text-white">
          <%= link_to t('header.line'), oauths_oauth_path(:provider => :line) %>
        </div>
        <div class="text-white">
            <%= link_to t('header.user'), new_user_path %>
        </div>
      </div>
    </header>
  </div>
</div>