<div class="bg-pink-200 ">
<div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <footer class="flex items-center justify-center py-4 md:py-7">
      <div class="flex justify-center text-center gap-4">
        <div class="text-white"> <%= t('footer.inquiry') %></div>
        <div class="text-white">
        <%= link_to t('footer.privacy'), page_path('privacy') %></div>
        <div class="text-white">
        <%= link_to t('footer.terms'), page_path('terms') %>
        </div>
        <div class="text-white">
        <%= link_to  "https://twitter.com/share?url=#{CGI.escape('https://style-love.net/')}&text=#{CGI.escape('推し活コーデ投稿サービス')}&hashtags=Style-LOVE", target: "_blank", rel: "noopener noreferrer", title: "Xでシェアする" do %>
        <i class="fa-brands fa-x-twitter "></i>
        <% end %>
        </div>    
      </div>
    </footer>
  </div>
</div>